In [1]:
import pandas
from plyrda.datasets import airquality

In [7]:
airquality

     Ozone  Solar_R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [11]:
import numpy
numpy.diag(pandas.DataFrame(numpy.diag([10]*4)))

array([10, 10, 10, 10])

In [12]:
a = pandas.Categorical([1,2,3], categories=[1,2,3,4])

In [13]:
a

[1, 2, 3]
Categories (4, int64): [1, 2, 3, 4]

In [14]:
a.remove_unused_categories()

[1, 2, 3]
Categories (3, int64): [1, 2, 3]

In [15]:
airquality.Month.astype('category')

0      5
1      5
2      5
3      5
4      5
      ..
148    9
149    9
150    9
151    9
152    9
Name: Month, Length: 153, dtype: category
Categories (5, int64): [5, 6, 7, 8, 9]

In [16]:
x = airquality.Month.astype('category')
isinstance(x, pandas.Categorical)

False

In [18]:
from pandas.core.dtypes.common import is_categorical_dtype
is_categorical_dtype(a)

True

In [20]:
isinstance(x.cat, pandas.Categorical)

False

In [21]:
x

0      5
1      5
2      5
3      5
4      5
      ..
148    9
149    9
150    9
151    9
152    9
Name: Month, Length: 153, dtype: category
Categories (5, int64): [5, 6, 7, 8, 9]

In [24]:
is_categorical_dtype(x)

True

In [25]:
x.cat.codes

0      0
1      0
2      0
3      0
4      0
      ..
148    4
149    4
150    4
151    4
152    4
Length: 153, dtype: int8

In [27]:
airquality['A'] = pandas.Categorical([1]*153)

In [28]:
airquality

     Ozone  Solar_R  Wind  Temp  Month  Day  A
0     41.0    190.0   7.4    67      5    1  1
1     36.0    118.0   8.0    72      5    2  1
2     12.0    149.0  12.6    74      5    3  1
3     18.0    313.0  11.5    62      5    4  1
4      NaN      NaN  14.3    56      5    5  1
..     ...      ...   ...   ...    ...  ... ..
148   30.0    193.0   6.9    70      9   26  1
149    NaN    145.0  13.2    77      9   27  1
150   14.0    191.0  14.3    75      9   28  1
151   18.0    131.0   8.0    76      9   29  1
152   20.0    223.0  11.5    68      9   30  1

[153 rows x 7 columns]

In [29]:
x.to_numpy()

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

In [30]:
x.codes

AttributeError: 'Series' object has no attribute 'codes'