In [1]:
# https://tibble.tidyverse.org/reference/add_column.html

from datar import f
from datar.tibble import *
from datar.base import seq
from datar.core.exceptions import NameNonUniqueError

%run nb_helpers.py
nb_header(add_column)

### # add_column

##### Add one or more columns to an existing data frame.

##### Args:
&emsp;&emsp;`_data`: Data frame to append to
&emsp;&emsp;`*args`: and
&emsp;&emsp;`**kwargs`: Name-value pairs to add to the data frame
&emsp;&emsp;`_before`: and
&emsp;&emsp;`_after`: Column index or name where to add the new columns
&emsp;&emsp;&emsp;&emsp;(default to add after the last column)

&emsp;&emsp;`_base0`: Whether `_before` and `_after` are 0-based if they are index.
&emsp;&emsp;&emsp;&emsp;if not given, will be determined by `get_option('index_base_0')`,
&emsp;&emsp;&emsp;&emsp;which is `False` by default.

&emsp;&emsp;`_dtypes`: The dtypes for the new columns, either a uniform dtype or a
&emsp;&emsp;&emsp;&emsp;dict of dtypes with keys the column names

##### Returns:
&emsp;&emsp;The dataframe with the added columns

In [2]:
df = tibble(x=seq(1,3), y=seq(3,1))

df >> add_column(z=seq(-1,1), w=0)

        x       y       z       w
  <int64> <int64> <int64> <int64>
0       1       3      -1       0
1       2       2       0       0
2       3       1       1       0

In [3]:
df >> add_column(z=seq(-1,1), _before=f.y)

        x       z       y
  <int64> <int64> <int64>
0       1      -1       3
1       2       0       2
2       3       1       1

In [4]:
# You can't overwrite existing columns
try:
    df >> add_column(x = seq(4,6))
except NameNonUniqueError as err:
    print(err)

Names must be unique: x

In [6]:
# You can't create new observations
with try_catch():
    df >> add_column(z = seq(1,5))

[DataUnrecyclable] Cannot recycle `new columns` to size 3, expect (1, 3), got 5.