In [1]:
# https://dplyr.tidyverse.org/reference/between.html
%run nb_helpers.py

from datar.datasets import starwars
from datar.all import *

nb_header(between)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… between</div>

##### Function version of `left <= x <= right`, works for both scalar and
vector data

See https://dplyr.tidyverse.org/reference/between.html

##### Args:
&emsp;&emsp;`x`: The data to test
&emsp;&emsp;`left`: and
&emsp;&emsp;`right`: The boundary values (must be scalars)
&emsp;&emsp;`inclusive`: Either `both`, `neither`, `left` or `right`.
&emsp;&emsp;&emsp;&emsp;Include boundaries. Whether to set each bound as closed or open.

##### Returns:
&emsp;&emsp;A bool value if `x` is scalar, otherwise an array of boolean values
&emsp;&emsp;Note that it will be always False when NA appears in x, left or right.

In [2]:
between(range(1, 13), 7, 9)

array([False, False, False, False, False, False,  True,  True,  True,
       False, False, False])

In [3]:
x = rnorm(100)
x[between(x, -1, 1)]

array([-0.46108433, -0.90958884,  0.32003302, -0.94185702,  0.09547548,
       -0.8737202 ,  0.44118868, -0.56305869,  0.56378432,  0.54691658,
        0.24335253,  0.92611266,  0.78344613, -0.38533801, -0.67837411,
       -0.08368949,  0.07130025,  0.93177732,  0.20593618, -0.80192497,
       -0.02496334, -0.93169419, -0.99021174,  0.09412114, -0.1755697 ,
       -0.73269432, -0.56147065,  0.14264082,  0.24856034,  0.67984301,
       -0.47420422, -0.04146622, -0.44139906,  0.64353676,  0.59141058,
        0.50620111,  0.11712466, -0.99335953,  0.55570108,  0.85582695,
        0.22823052,  0.10222358, -0.10255998,  0.04783323, -0.92008545,
        0.08164235, -0.07919942,  0.31864433,  0.76742208, -0.08966149,
        0.087475  ,  0.36639137, -0.3784891 ,  0.55974452,  0.13748038,
        0.4652572 ,  0.60627635,  0.20706486,  0.6400977 , -0.40987699,
       -0.75224055,  0.96564703, -0.17511871,  0.10103141,  0.15538495,
        0.58286541,  0.21611586,  0.91938387,  0.15524164])

In [4]:
starwars >> filter(between(f.height, 100, 150))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
26,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
37,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian
38,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
45,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto

In [5]:
starwars >> filter(100 <= f.height <= 150) # not as expected

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
18,Yoda,66.0,17.0,white,green,brown,896.0,male,masculine,NaN,Yoda's species
26,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
28,Wicket Systri Warrick,88.0,20.0,brown,brown,brown,8.0,male,masculine,Endor,Ewok
37,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian
38,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
44,Dud Bolt,94.0,45.0,none,"blue, grey",yellow,NaN,male,masculine,Vulpter,Vulptereen
45,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto
71,Ratts Tyerell,79.0,15.0,none,"grey, blue",unknown,NaN,male,masculine,Aleen Minor,Aleena
72,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,none,feminine,NaN,Droid