In [1]:
# https://dplyr.tidyverse.org/reference/bind.html

from datar.datasets import starwars
from datar.all import *

%run nb_helpers.py
nb_header(bind_rows, bind_cols)

### # bind_rows

##### Bind rows of give dataframes

##### Args:
&emsp;&emsp;`_data`: The seed dataframe to bind others
&emsp;&emsp;&emsp;&emsp;Could be a dict or a list, keys/indexes will be used for _id col

&emsp;&emsp;`*datas`: Other dataframes to combine
&emsp;&emsp;`_id`: The name of the id columns
&emsp;&emsp;`**kwargs`: A mapping of dataframe, keys will be used as _id col.

##### Returns:
&emsp;&emsp;The combined dataframe

### # bind_cols

##### Bind columns of give dataframes

##### Args:
&emsp;&emsp;_data, *datas: Dataframes to combine

##### Returns:
&emsp;&emsp;The combined dataframe

In [2]:
one = starwars >> slice(f[:4])
two = starwars >> slice(f[9:13])

one >> bind_rows(two)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
5,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
6,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human
7,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee

In [3]:
tibble(a=1, b=2) >> bind_rows(tibble(a=3, b=4))

   a  b
0  1  2
1  3  4

In [4]:
tibble(a=1, b=2) >> bind_rows(
    tibble(a=[3, 4], b=[5, 6]),
    tibble(a=7, b=8)
)

   a  b
0  1  2
1  3  5
2  4  6
3  7  8

In [5]:
tibble(x=range(3)) >> bind_rows(
    tibble(y=range(4))
)

     x    y
0  0.0  NaN
1  1.0  NaN
2  2.0  NaN
3  NaN  0.0
4  NaN  1.0
5  NaN  2.0
6  NaN  3.0

In [6]:
tibble(x=range(3)) >> bind_cols(
    tibble(y=range(2))
)

   x    y
0  0  0.0
1  1  1.0
2  2  NaN

In [7]:
one >> bind_cols(two)

[2021-04-16 17:51:37][datar][WARNING] New names:
[2021-04-16 17:51:37][datar][WARNING] * 'name' -> 'name__0'
[2021-04-16 17:51:37][datar][WARNING] * 'height' -> 'height__1'
[2021-04-16 17:51:37][datar][WARNING] * 'mass' -> 'mass__2'
[2021-04-16 17:51:37][datar][WARNING] * 'hair_color' -> 'hair_color__3'
[2021-04-16 17:51:37][datar][WARNING] * 'skin_color' -> 'skin_color__4'
[2021-04-16 17:51:37][datar][WARNING] * 'eye_color' -> 'eye_color__5'
[2021-04-16 17:51:37][datar][WARNING] * 'birth_year' -> 'birth_year__6'
[2021-04-16 17:51:37][datar][WARNING] * 'sex' -> 'sex__7'
[2021-04-16 17:51:37][datar][WARNING] * 'gender' -> 'gender__8'
[2021-04-16 17:51:37][datar][WARNING] * 'homeworld' -> 'homeworld__9'
[2021-04-16 17:51:37][datar][WARNING] * 'species' -> 'species__10'
[2021-04-16 17:51:37][datar][WARNING] * 'name' -> 'name__11'
[2021-04-16 17:51:37][datar][WARNING] * 'height' -> 'height__12'
[2021-04-16 17:51:37][datar][WARNING] * 'mass' -> 'mass__13'
[2021-04-16 17:51:37][datar][WARNING] * 'hair_color' -> 'hair_color__14'
[2021-04-16 17:51:37][datar][WARNING] * 'skin_color' -> 'skin_color__15'
[2021-04-16 17:51:37][datar][WARNING] * 'eye_color' -> 'eye_color__16'
[2021-04-16 17:51:37][datar][WARNING] * 'birth_year' -> 'birth_year__17'
[2021-04-16 17:51:37][datar][WARNING] * 'sex' -> 'sex__18'
[2021-04-16 17:51:37][datar][WARNING] * 'gender' -> 'gender__19'
[2021-04-16 17:51:37][datar][WARNING] * 'homeworld' -> 'homeworld__20'
[2021-04-16 17:51:37][datar][WARNING] * 'species' -> 'species__21'

,name__0,height__1,mass__2,hair_color__3,skin_color__4,eye_color__5,birth_year__6,sex__7,gender__8,homeworld__9,...,height__12,mass__13,hair_color__14,skin_color__15,eye_color__16,birth_year__17,sex__18,gender__19,homeworld__20,species__21
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,...,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,...,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,...,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,...,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee