In [1]:
# https://dplyr.tidyverse.org/reference/bind.html

from datar.datasets import starwars
from datar.all import *

%run nb_helpers.py
nb_header(bind_rows, bind_cols, book='bind')

[2021-07-16 15:27:48][datar][WARNING] Builtin name "min" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "max" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "round" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "all" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "any" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "re" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2021-07-16 15:27:48][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # bind_rows

##### Bind rows of give dataframes

Original APIs https://dplyr.tidyverse.org/reference/bind.html

##### Args:
&emsp;&emsp;`_data`: The seed dataframe to bind others
&emsp;&emsp;&emsp;&emsp;Could be a dict or a list, keys/indexes will be used for _id col

&emsp;&emsp;`*datas`: Other dataframes to combine
&emsp;&emsp;`_id`: The name of the id columns
&emsp;&emsp;`base0_`: Whether `_id` starts from 0 or not, if no keys are provided.
&emsp;&emsp;&emsp;&emsp;If `base0_` is not provided, will use
&emsp;&emsp;&emsp;&emsp;`datar.base.get_option('index.base.0')`

&emsp;&emsp;`_copy`: If `False`, do not copy data unnecessarily.
&emsp;&emsp;&emsp;&emsp;Original API does not support this. This argument will be
&emsp;&emsp;&emsp;&emsp;passed by to `pandas.concat()` as `copy` argument.

&emsp;&emsp;`**kwargs`: A mapping of dataframe, keys will be used as _id col.

##### Returns:
&emsp;&emsp;The combined dataframe

### # bind_cols

##### Bind columns of give dataframes

Note that unlike `dplyr`, mismatched dimensions are allowed and
missing rows will be filled with `NA`s

##### Args:
&emsp;&emsp;`_data`: The seed dataframe to bind others
&emsp;&emsp;&emsp;&emsp;Could be a dict, keys will be used for _id col

&emsp;&emsp;`*datas`: other dataframes to bind
&emsp;&emsp;`_name_repair`: treatment of problematic column names:
&emsp;&emsp;&emsp;&emsp;- "minimal": No name repair or checks, beyond basic existence,

&emsp;&emsp;&emsp;&emsp;- "unique": Make sure names are unique and not empty,

&emsp;&emsp;&emsp;&emsp;- "check_unique": (default value), no name repair,
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;but check they are unique,

&emsp;&emsp;&emsp;&emsp;- "universal": Make the names unique and syntactic

&emsp;&emsp;&emsp;&emsp;- a function: apply custom name repair

&emsp;&emsp;`base0_`: Whether the numeric suffix starts from 0 or not.
&emsp;&emsp;&emsp;&emsp;If not specified, will use `datar.base.get_option('index.base.0')`.

&emsp;&emsp;`_copy`: If `False`, do not copy data unnecessarily.
&emsp;&emsp;&emsp;&emsp;Original API does not support this. This argument will be
&emsp;&emsp;&emsp;&emsp;passed by to `pandas.concat()` as `copy` argument.

##### Returns:
&emsp;&emsp;The combined dataframe

In [2]:
one = starwars >> slice(f[:4])
two = starwars >> slice(f[9:12])

one >> bind_rows(two)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human

In [3]:
bind_rows([one, two])

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human

In [4]:
bind_rows([one, two], [two, one])

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
10,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
11,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human
12,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
13,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
14,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
15,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human

In [5]:
tibble(a=1, b=2) >> bind_rows(tibble(a=3, b=4))

        a       b
  <int64> <int64>
0       1       2
1       3       4

In [6]:
tibble(a=1, b=2) >> bind_rows(
    tibble(a=[3, 4], b=[5, 6]),
    tibble(a=7, b=8)
)

        a       b
  <int64> <int64>
0       1       2
1       3       5
2       4       6
3       7       8

In [7]:
bind_rows([one, two], _id = "id")

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<int64>,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,1,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,1,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,1,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,2,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,2,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,2,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,2,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human

In [8]:
bind_rows([one, two], _id = "id", base0_=True) # 0-based id

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<int64>,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,0,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,0,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,0,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,1,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,1,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,1,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,1,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human

In [9]:
# If we need a name for one
bind_rows(None, a=one, b=two, _id = "id")

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,a,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,a,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,a,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,a,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,b,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,b,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,b,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,b,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human

In [10]:
bind_rows(None, **{"group 1": one, "group 2": two}, _id = "groups")

,groups,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
,<object>,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,group 1,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,group 1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid
2,group 1,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
3,group 1,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
4,group 2,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
5,group 2,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
6,group 2,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
7,group 2,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human

In [11]:
tibble(x=range(3)) >> bind_rows(
    tibble(y=range(4))
)

          x         y
  <float64> <float64>
0       0.0       NaN
1       1.0       NaN
2       2.0       NaN
3       NaN       0.0
4       NaN       1.0
5       NaN       2.0
6       NaN       3.0

In [12]:
# NAs filled for missed rows
tibble(x=range(3)) >> bind_cols(
    tibble(y=range(2))
)

        x         y
  <int64> <float64>
0       0       0.0
1       1       1.0
2       2       NaN

In [13]:
tibble(x = range(3)) >> bind_cols(tibble())

        x
  <int64>
0       0
1       1
2       2

In [14]:
one >> bind_cols(two)

[2021-07-16 15:27:49][datar][WARNING] New names:
[2021-07-16 15:27:49][datar][WARNING] * 'name' -> 'name__1'
[2021-07-16 15:27:49][datar][WARNING] * 'height' -> 'height__2'
[2021-07-16 15:27:49][datar][WARNING] * 'mass' -> 'mass__3'
[2021-07-16 15:27:49][datar][WARNING] * 'hair_color' -> 'hair_color__4'
[2021-07-16 15:27:49][datar][WARNING] * 'skin_color' -> 'skin_color__5'
[2021-07-16 15:27:49][datar][WARNING] * 'eye_color' -> 'eye_color__6'
[2021-07-16 15:27:49][datar][WARNING] * 'birth_year' -> 'birth_year__7'
[2021-07-16 15:27:49][datar][WARNING] * 'sex' -> 'sex__8'
[2021-07-16 15:27:49][datar][WARNING] * 'gender' -> 'gender__9'
[2021-07-16 15:27:49][datar][WARNING] * 'homeworld' -> 'homeworld__10'
[2021-07-16 15:27:49][datar][WARNING] * 'species' -> 'species__11'
[2021-07-16 15:27:49][datar][WARNING] * 'name' -> 'name__12'
[2021-07-16 15:27:49][datar][WARNING] * 'height' -> 'height__13'
[2021-07-16 15:27:49][datar][WARNING] * 'mass' -> 'mass__14'
[2021-07-16 15:27:49][datar][WARNING] * 'hair_color' -> 'hair_color__15'
[2021-07-16 15:27:49][datar][WARNING] * 'skin_color' -> 'skin_color__16'
[2021-07-16 15:27:49][datar][WARNING] * 'eye_color' -> 'eye_color__17'
[2021-07-16 15:27:49][datar][WARNING] * 'birth_year' -> 'birth_year__18'
[2021-07-16 15:27:49][datar][WARNING] * 'sex' -> 'sex__19'
[2021-07-16 15:27:49][datar][WARNING] * 'gender' -> 'gender__20'
[2021-07-16 15:27:49][datar][WARNING] * 'homeworld' -> 'homeworld__21'
[2021-07-16 15:27:49][datar][WARNING] * 'species' -> 'species__22'

,name__1,height__2,mass__3,hair_color__4,skin_color__5,eye_color__6,birth_year__7,sex__8,gender__9,homeworld__10,...,height__13,mass__14,hair_color__15,skin_color__16,eye_color__17,birth_year__18,sex__19,gender__20,homeworld__21,species__22
,<object>,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,...,<float64>,<float64>,<object>,<object>,<object>,<float64>,<object>,<object>,<object>,<object>
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,...,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,...,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,...,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,...,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human