In [1]:
from datar.datasets import iris, fish_encounters
from datar.all import *

%run nb_helpers.py
nb_header(chop, unchop)

### # chop

##### Makes data frame shorter by converting rows within each group
into list-columns.

##### Args:
&emsp;&emsp;`data`: A data frame
&emsp;&emsp;`cols`: Columns to chop
&emsp;&emsp;`_base0`: Whether `cols` are 0-based
&emsp;&emsp;&emsp;&emsp;if not provided, will use `datar.base.getOption('index.base.0')`

##### Returns:
&emsp;&emsp;Data frame with selected columns chopped

### # unchop

##### Makes df longer by expanding list-columns so that each element
of the list-column gets its own row in the output.

Recycling size-1 elements might be different from `tidyr`
&emsp;&emsp;>>> df = tibble(x=[1, [2,3]], y=[[2,3], 1])
&emsp;&emsp;>>> df >> unchop([f.x, f.y])
&emsp;&emsp;>>> # tibble(x=[1,2,3], y=[2,3,1])
&emsp;&emsp;>>> # instead of following in tidyr
&emsp;&emsp;>>> # tibble(x=[1,1,2,3], y=[2,3,1,1])

##### Args:
&emsp;&emsp;`data`: A data frame.
&emsp;&emsp;`cols`: Columns to unchop.
&emsp;&emsp;`keep_empty`: By default, you get one row of output for each element
&emsp;&emsp;&emsp;&emsp;of the list your unchopping/unnesting.
&emsp;&emsp;&emsp;&emsp;This means that if there's a size-0 element
&emsp;&emsp;&emsp;&emsp;(like NULL or an empty data frame), that entire row will be
&emsp;&emsp;&emsp;&emsp;dropped from the output.
&emsp;&emsp;&emsp;&emsp;If you want to preserve all rows, use `keep_empty` = `True` to
&emsp;&emsp;&emsp;&emsp;replace size-0 elements with a single row of missing values.

&emsp;&emsp;`dtypes`: NOT `ptype`. Providing the dtypes for the output columns.
&emsp;&emsp;&emsp;&emsp;Could be a single dtype, which will be applied to all columns, or
&emsp;&emsp;&emsp;&emsp;a dictionary of dtypes with keys for the columns and values the
&emsp;&emsp;&emsp;&emsp;dtypes.

&emsp;&emsp;`_base0`: Whether `cols` are 0-based
&emsp;&emsp;&emsp;&emsp;if not provided, will use `datar.base.getOption('index.base.0')`

##### Returns:
&emsp;&emsp;A data frame with selected columns unchopped.

In [2]:
df = tibble(x = c(1, 1, 1, 2, 2, 3), y = f[1:6], z = f[6:1])
# df >> nest(data = c(f.y, f.z))
df

   x  y  z
0  1  1  6
1  1  2  5
2  1  3  4
3  2  4  3
4  2  5  2
5  3  6  1

In [3]:
df >> chop(c(f.y, f.z))

   x          y          z
0  1  [1, 2, 3]  [6, 5, 4]
1  2     [4, 5]     [3, 2]
2  3        [6]        [1]

In [4]:
# Unchop
df = tibble(x = f[1:4], y = [[], [1], [1,2], [1,2,3]])
df >> unchop(f.y)

   x  y
0  2  1
1  3  1
2  3  2
3  4  1
4  4  2
5  4  3

In [5]:
df >> unchop(f.y, keep_empty=True)

   x    y
0  1  NaN
1  2    1
2  3    1
3  3    2
4  4    1
5  4    2
6  4    3

In [6]:
df = tibble(x = f[1:2], y = ["a", [1,2,3]])
df >> unchop(f.y)
_.dtypes

   x  y
0  1  a
1  2  1
2  2  2
3  2  3

x     int64
y    object
dtype: object

In [7]:
with try_catch():
    df >> unchop(f.y, dtypes=int)

[ValueError] invalid literal for int() with base 10: 'a'

In [8]:
# not supported for nested columns
# df = tibble(x = f[1:3], y = [NULL, tibble(x = 1), tibble(y = f[1:2])])
# df >> unchop(f.y)