In [1]:
from datar.all import *

%run nb_helpers.py
nb_header(complete)

[2022-03-06 00:44:34][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 00:44:34][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # complete

##### Turns implicit missing values into explicit missing values.

##### Args:
&emsp;&emsp;`data`: A data frame
&emsp;&emsp;`*args`: columns to expand. Columns can be atomic lists.
&emsp;&emsp;&emsp;&emsp;- To find all unique combinations of x, y and z, including
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;those not present in the data, supply each variable as a
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;separate argument: `expand(df, x, y, z)`.

&emsp;&emsp;&emsp;&emsp;- To find only the combinations that occur in the data, use
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;`nesting`: `expand(df, nesting(x, y, z))`.

&emsp;&emsp;&emsp;&emsp;- You can combine the two forms. For example,
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;`expand(df, nesting(school_id, student_id), date)` would
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;produce a row for each present school-student combination
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;for all possible dates.

##### Returns:
&emsp;&emsp;Data frame with missing values completed

In [2]:
df = tibble(
  group = c(f[1:2:1], 1),
  item_id = c(f[1:2:1], 2),
  item_name = c("a", "b", "b"),
  value1 = f[1:3:1],
  value2 = f[4:6:1]
)
df >> complete(f.group, nesting(f.item_id, f.item_name))

    group  item_id item_name    value1    value2
  <int64>  <int64>  <object> <float64> <float64>
0       1        1         a       1.0       4.0
1       1        2         b       3.0       6.0
2       2        1         a       NaN       NaN
3       2        2         b       2.0       5.0

In [3]:
df >> complete(f.group, nesting(f.item_id, f.item_name), fill=dict(value1=0))

    group  item_id item_name    value1    value2
  <int64>  <int64>  <object> <float64> <float64>
0       1        1         a       1.0       4.0
1       1        2         b       3.0       6.0
2       2        1         a       0.0       NaN
3       2        2         b       2.0       5.0