In [1]:
# https://dplyr.tidyverse.org/reference/cumall.html
import numpy

from datar.all import *

%run nb_helpers.py
nb_header(cummean, cumsum, cumall, cumany, cumany, book='cumall')

[2022-03-06 01:35:10][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 01:35:10][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # cummean

##### Get cumulative means

### # cumsum

##### Cumulative sum of elements.

##### Args:
&emsp;&emsp;`x`: Input array

##### Returns:
&emsp;&emsp;An array of cumulative sum of elements in x

### # cumall

##### Get cumulative bool. All cases after first False

### # cumany

##### Get cumulative bool. All cases after first True

### # cumany

##### Get cumulative bool. All cases after first True

In [2]:
x = [1, 3, 5, 2, 2]
cummean(x)

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
Name: x, dtype: float64

In [8]:
cumsum(x) / seq_along(x)

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
Name: x, dtype: float64

In [4]:
cumall(numpy.array(x) < 5)

0     True
1     True
2    False
3    False
4    False
Name: x, dtype: bool

In [5]:
cumany(numpy.array(x) == 3)

0    False
1     True
2     True
3     True
4     True
Name: x, dtype: bool

In [6]:
df = tibble(
  date = as_date([f"2020-01-0{i+1}" for i in range(7)]),
  balance = c(100, 50, 25, -25, -50, 30, 120)
)
df >> filter(cumany(f.balance < 0))

              date  balance
  <datetime64[ns]>  <int64>
3       2020-01-04      -25
4       2020-01-05      -50
5       2020-01-06       30
6       2020-01-07      120

In [7]:
df >> filter(cumall(~(f.balance < 0)))

              date  balance
  <datetime64[ns]>  <int64>
0       2020-01-01      100
1       2020-01-02       50
2       2020-01-03       25