In [1]:
# https://dplyr.tidyverse.org/reference/cumall.html
%run nb_helpers.py

import numpy

from datar.all import *

nb_header(cummean, cumsum, cumall, cumany, cumany, book='cumall')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ cummean</div>

##### Cumulative mean

The original API:
https://dplyr.tidyverse.org/reference/cumall.html

##### Args:
&emsp;&emsp;`x`: A numeric vector
&emsp;&emsp;`na_rm`: If `True`, remove missing values before computing.

##### Returns:
&emsp;&emsp;An array of cumulative means

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ cumsum</div>

##### Cumulative sums

##### Args:
&emsp;&emsp;`x`: A numeric vector

##### Returns:
&emsp;&emsp;The cumulative sums

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ cumall</div>

##### Get cumulative bool. All cases after first False

The original API:
https://dplyr.tidyverse.org/reference/cumall.html

##### Args:
&emsp;&emsp;`x`: A logical vector

##### Returns:
&emsp;&emsp;An array of cumulative conjunctions

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ cumany</div>

##### Get cumulative bool. All cases after first True

The original API:
https://dplyr.tidyverse.org/reference/cumany.html

##### Args:
&emsp;&emsp;`x`: A logical vector

##### Returns:
&emsp;&emsp;An array of cumulative disjunctions

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ cumany</div>

##### Get cumulative bool. All cases after first True

The original API:
https://dplyr.tidyverse.org/reference/cumany.html

##### Args:
&emsp;&emsp;`x`: A logical vector

##### Returns:
&emsp;&emsp;An array of cumulative disjunctions

In [2]:
x = [1, 3, 5, 2, 2]
cummean(x)

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
dtype: float64

In [3]:
cumsum(x) / seq_along(x)

array([1.  , 2.  , 3.  , 2.75, 2.6 ])

In [4]:
cumall(numpy.array(x) < 5)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [5]:
cumany(numpy.array(x) == 3)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [6]:
df = tibble(
  date = as_date([f"2020-01-0{i+1}" for i in range(7)]),
  balance = c(100, 50, 25, -25, -50, 30, 120)
)
df >> filter(cumany(f.balance < 0))

         date  balance
     <object>  <int64>
3  2020-01-04      -25
4  2020-01-05      -50
5  2020-01-06       30
6  2020-01-07      120

In [7]:
df >> filter(cumall(~(f.balance < 0)))

         date  balance
     <object>  <int64>
0  2020-01-01      100
1  2020-01-02       50
2  2020-01-03       25