In [1]:
# datar specific

import numpy
from datar import f
from datar.datasets import iris
from datar.datar import *
from datar.dplyr import mutate
from datar.tibble import tibble

%run nb_helpers.py
nb_header(get, flatten, itemgetter, book='datar')

### # get

##### Get a single element or a subset of a dataframe

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`rows`: The rows to subset the dataframe
&emsp;&emsp;`cols`: The columns to subset the dataframe
&emsp;&emsp;&emsp;&emsp;If both rows and cols are scalar, then a single element will be
&emsp;&emsp;&emsp;&emsp;returned

##### Returns:
&emsp;&emsp;A single element when both rows and cols are scalar, otherwise
&emsp;&emsp;a subset of _data

### # flatten

##### Flatten a dataframe into a 1-d python list

##### Args:
&emsp;&emsp;`_data`: The dataframe

##### Returns:
&emsp;&emsp;The flattened list

### # itemgetter

##### Itemgetter as a function for verb

In datar expression, we can do:
>>> arr = [1,2,3]
>>> tibble(x=2) >> mutate(y=arr[f.x])

Since `arr[f.x]` won't compile. We need to use the `itemgetter` operator:
>>> tibble(x=2) >> mutate(y=itemgetter(arr, f.x))

##### Args:
&emsp;&emsp;`data`: The data to be get items from
&emsp;&emsp;`subscr`: The subscripts

In [2]:
iris >> get(f[:5])

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
      <float64>    <float64>     <float64>    <float64> <object>
0           5.1          3.5           1.4          0.2   setosa
1           4.9          3.0           1.4          0.2   setosa
2           4.7          3.2           1.3          0.2   setosa
3           4.6          3.1           1.5          0.2   setosa
4           5.0          3.6           1.4          0.2   setosa

In [3]:
iris >> get(cols=f.Species)

       Species
      <object>
0       setosa
1       setosa
2       setosa
3       setosa
..         ...
4       setosa
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [4]:
# select single element
iris >> get(1, f.Species)

'setosa'

In [5]:
# get it as a single-element dataframe
iris >> get([1], f.Species)

   Species
  <object>
1   setosa

In [6]:
# or 
iris >> get(1, [f.Species])

   Species
  <object>
1   setosa

In [9]:
df = tibble(x=f[1:3], y=f[3:5])
df >> flatten()

[1, 3, 2, 4]

In [10]:
arr = numpy.array(['a', 'b', 'c', 'd', 'e'])
# df >> mutate(a=arr[f.x], b=arr[f.y])  # Error
df >> mutate(a=itemgetter(arr, f.x), b=itemgetter(arr, f.y))

        x       y        a        b
  <int64> <int64> <object> <object>
0       1       3        b        d
1       2       4        c        e