In [1]:
# https://dplyr.tidyverse.org/reference/distinct.html
from datar.datasets import starwars
from datar.all import *

%run nb_helpers.py
nb_header(distinct, n_distinct, book='distinct')

[2021-07-16 15:28:02][datar][WARNING] Builtin name "min" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "max" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "round" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "all" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "any" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "re" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2021-07-16 15:28:02][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # distinct

##### Select only unique/distinct rows from a data frame.

The original API:
https://dplyr.tidyverse.org/reference/distinct.html

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*args`: and
&emsp;&emsp;`**kwargs`: Optional variables to use when determining
&emsp;&emsp;&emsp;&emsp;uniqueness.

&emsp;&emsp;`_keep_all`: If TRUE, keep all variables in _data

##### Returns:
&emsp;&emsp;A dataframe without duplicated rows in _data

### # n_distinct

##### Get the length of distince elements

In [2]:
df = tibble(
  x=sample(range(10), 100, replace=True),
  y=sample(range(10), 100, replace=True)
)
nrow(df)

100

In [3]:
nrow(distinct(df))

63

In [4]:
df >> distinct(f.x, f.y) >> nrow()

63

In [5]:
df >> distinct(f.x)

        x
  <int64>
0       4
1       5
2       6
3       0
4       8
5       1
6       2
7       7
8       3
9       9

In [6]:
df >> distinct(f.y)

        y
  <int64>
0       9
1       0
2       5
3       1
4       6
5       2
6       7
7       3
8       4
9       8

In [7]:
df >> distinct(f.x, _keep_all=True)

        x       y
  <int64> <int64>
0       4       9
1       5       0
2       6       5
3       0       1
4       8       5
5       1       9
6       2       6
7       7       0
8       3       9
9       9       4

In [8]:
df >> distinct(f.y, _keep_all=True)

        x       y
  <int64> <int64>
0       4       9
1       5       0
2       6       5
3       0       1
4       2       6
5       2       2
6       7       7
7       3       3
8       8       4
9       4       8

In [9]:
df >> distinct(diff=abs(f.x-f.y))

     diff
  <int64>
0       5
1       1
2       3
3       8
4       0
5       4
6       7
7       6
8       2
9       9

In [10]:
starwars >> distinct(across(contains("color")))

   hair_color   skin_color eye_color
     <object>     <object>  <object>
0       blond         fair      blue
1         NaN         gold    yellow
2         NaN  white, blue       red
3        none        white    yellow
..        ...          ...       ...
4       brown        light     brown
62       none         pale     white
63      black         dark      dark
64      brown        light     hazel
65       none         none     black
66    unknown      unknown   unknown

[67 rows x 3 columns]

In [11]:
df = tibble(
  g=[1, 1, 2, 2],
  x=[1, 1, 2, 1]
) >> group_by(f.g)

df >> distinct(f.x)

        g       x
  <int64> <int64>
0       1       1
1       2       2
2       2       1

[Groups: g (n=2)]