In [1]:
# https://tidyr.tidyverse.org/reference/drop_na.html

from datar.all import *

%run nb_helpers.py
nb_header(drop_na)

### # drop_na

##### Drop rows containing missing values

See https://tidyr.tidyverse.org/reference/drop_na.html

##### Args:
&emsp;&emsp;`data`: A data frame.
&emsp;&emsp;`*columns`: Columns to inspect for missing values.
&emsp;&emsp;`how`: How to select the rows to drop
&emsp;&emsp;&emsp;&emsp;- all: All columns of `columns` to be `NA`s

&emsp;&emsp;&emsp;&emsp;- any: Any columns of `columns` to be `NA`s

&emsp;&emsp;&emsp;&emsp;(tidyr doesn't support this argument)

&emsp;&emsp;`_base0`: Whether `*columns` are 0-based if given by indexes
&emsp;&emsp;&emsp;&emsp;If not provided, will use `datar.base.get_option('index.base.0')`

##### Returns:
&emsp;&emsp;Dataframe with rows with NAs dropped and indexes dropped

In [2]:
df = tibble(x = c(1, 2, NA), y = c("a", NA, "b"))
df >> drop_na()

     x  y
0  1.0  a

In [3]:
df >> drop_na(f.x)

     x    y
0  1.0    a
1  2.0  NaN

In [4]:
vars = ["y"]
df >> drop_na(f.x, any_of(vars))

     x  y
0  1.0  a

In [5]:
# how='any' or how='all'
# not supported by tidyr
df >> drop_na(how='all')

     x    y
0  1.0    a
1  2.0  NaN
2  NaN    b

In [6]:
df >> drop_na(how='any')

     x  y
0  1.0  a