In [1]:
# https://tidyr.tidyverse.org/reference/drop_na.html
%run nb_helpers.py

from datar.all import *

nb_header(drop_na)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… drop_na</div>

##### Drop rows containing missing values

See https://tidyr.tidyverse.org/reference/drop_na.html

##### Args:
&emsp;&emsp;`data`: A data frame.
&emsp;&emsp;`*columns`: Columns to inspect for missing values.
&emsp;&emsp;`_how`: How to select the rows to drop
&emsp;&emsp;&emsp;&emsp;- all: All columns of `columns` to be `NA`s

&emsp;&emsp;&emsp;&emsp;- any: Any columns of `columns` to be `NA`s

&emsp;&emsp;&emsp;&emsp;(tidyr doesn't support this argument)

##### Returns:
&emsp;&emsp;Dataframe with rows with NAs dropped and indexes dropped

In [2]:
df = tibble(x = c(1, 2, NA), y = c("a", NA, "b"))
df >> drop_na()

          x        y
  <float64> <object>
0       1.0        a

In [3]:
df >> drop_na(f.x)

          x        y
  <float64> <object>
0       1.0        a
1       2.0      NaN

In [4]:
vars = ["y"]
df >> drop_na(f.x, any_of(vars))

          x        y
  <float64> <object>
0       1.0        a

In [5]:
# how_='any' or how_='all'
# not supported by tidyr
df >> drop_na(how_='all')

          x        y
  <float64> <object>
0       1.0        a
1       2.0      NaN
2       NaN        b

In [6]:
df >> drop_na(how_='any')

          x        y
  <float64> <object>
0       1.0        a