In [1]:
# https://tibble.tidyverse.org/reference/enframe.html
%run nb_helpers.py

from datar.tibble import *
from datar.base import seq

nb_header(enframe, deframe, book='enframe')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ enframe</div>

##### Converts mappings or lists to one- or two-column data frames.

##### Args:
&emsp;&emsp;`x`: a list, a dictionary or a dataframe with one or two columns
&emsp;&emsp;`name`: and
&emsp;&emsp;`value`: value Names of the columns that store the names and values.
&emsp;&emsp;&emsp;&emsp;If `None`, a one-column dataframe is returned.
&emsp;&emsp;&emsp;&emsp;`value` cannot be `None`

##### Returns:
&emsp;&emsp;A data frame with two columns if `name` is not None (default) or
&emsp;&emsp;one-column otherwise.

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ deframe</div>

##### Converts two-column data frames to a dictionary
using the first column as name and the second column as value.
If the input has only one column, a list.

##### Args:
&emsp;&emsp;`x`: A data frame.

##### Returns:
&emsp;&emsp;A dictionary or a list if only one column in the data frame.

In [2]:
enframe(seq(1,3))

     name   value
  <int64> <int64>
0       0       1
1       1       2
2       2       3

In [3]:
enframe(dict(a=5, b=7))

      name   value
  <object> <int64>
0        a       5
1        b       7

In [4]:
enframe(dict(one=1, two=[2,3], three=[4,5,6]))

      name      value
  <object>   <object>
0      one          1
1      two     [2, 3]
2    three  [4, 5, 6]

In [5]:
deframe(enframe(seq(3,1)))

{0: 3, 1: 2, 2: 1}

In [6]:
deframe(tibble(a=seq(1,3)))

array([1, 2, 3])

In [7]:
deframe(tibble(a=[seq(1,3)]))

array([array([1, 2, 3])], dtype=object)