In [1]:
# https://tidyr.tidyverse.org/reference/expand_grid.html

from datar.all import *

%run nb_helpers.py
nb_header(expand_grid)

### # expand_grid

##### Create a tibble from all combinations of inputs

##### Args:
&emsp;&emsp;`*args`: and
&emsp;&emsp;`**kwargs`: name-value pairs.
&emsp;&emsp;&emsp;&emsp;For `*args`, names will be inferred from the values and if failed,
&emsp;&emsp;&emsp;&emsp;`_Var0`, `_Var1`, etc will be used.

&emsp;&emsp;`_name_repair`: treatment of problematic column names:
&emsp;&emsp;&emsp;&emsp;- "minimal": No name repair or checks, beyond basic existence,

&emsp;&emsp;&emsp;&emsp;- "unique": Make sure names are unique and not empty,

&emsp;&emsp;&emsp;&emsp;- "check_unique": (default value), no name repair,
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;but check they are unique,

&emsp;&emsp;&emsp;&emsp;- "universal": Make the names unique and syntactic

&emsp;&emsp;&emsp;&emsp;- a function: apply custom name repair

&emsp;&emsp;`_base0`: Whether the suffixes of repaired names should be 0-based.
&emsp;&emsp;&emsp;&emsp;If not provided, will use `datar.base.get_option('index.base.0')`.

##### Returns:
&emsp;&emsp;A data frame with one column for each input in `*args` and `**kwargs`.
&emsp;&emsp;The output will have one row for each combination of the inputs,
&emsp;&emsp;i.e. the size be equal to the product of the sizes of the inputs.
&emsp;&emsp;This implies that if any input has length 0, the output will have
&emsp;&emsp;zero rows.

In [2]:
expand_grid(x=seq(1,3), y=seq(1,2))

   x  y
0  1  1
1  1  2
2  2  1
3  2  2
4  3  1
5  3  2

In [3]:
expand_grid(l1=letters, l2=LETTERS)

    l1 l2
0    a  A
1    a  B
2    a  C
3    a  D
4    a  E
..  .. ..
671  z  V
672  z  W
673  z  X
674  z  Y
675  z  Z

[676 rows x 2 columns]

In [4]:
expand_grid(df=tibble(x=[1,2], y=c(2, 1)), z=[1,2,3])

   df$x  df$y  z
0     1     2  1
1     1     2  2
2     1     2  3
3     2     1  1
4     2     1  2
5     2     1  3

In [5]:
expand_grid(x1=tibble(a=[1,2], b=[3,4]), x2=tibble(a=[5,6], b=[7,8]))

   x1$a  x1$b  x2$a  x2$b
0     1     3     5     7
1     1     3     6     8
2     2     4     5     7
3     2     4     6     8