In [1]:
# https://dplyr.tidyverse.org/reference/filter-joins.html

from datar.datasets import band_members, band_instruments
from datar.all import *

%run nb_helpers.py
nb_header(semi_join, anti_join, book='filter-joins')

[2022-03-06 01:40:07][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 01:40:07][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # semi_join

##### Returns all rows from x with a match in y.

See Also:
&emsp;&emsp;[`inner_join()`](datar.dplyr.join.inner_join)

### # anti_join

##### Returns all rows from x without a match in y.

See Also:
&emsp;&emsp;[`inner_join()`](datar.dplyr.join.inner_join)

In [2]:
band_members

      name     band
  <object> <object>
0     Mick   Stones
1     John  Beatles
2     Paul  Beatles

In [3]:
band_instruments

      name    plays
  <object> <object>
0     John   guitar
1     Paul     bass
2    Keith   guitar

In [4]:
band_members >> semi_join(band_instruments)

      name     band
  <object> <object>
1     John  Beatles
2     Paul  Beatles

In [5]:
band_members >> anti_join(band_instruments, by={'name': 'name'})

      name     band
  <object> <object>
0     Mick   Stones