In [1]:
from datar.all import *

%run nb_helpers.py

nb_header(
    fct_expand,
    fct_explicit_na,
    fct_drop,
    fct_unify,
    book="forcat_lvl_addrm",
)

[2021-09-01 23:36:00][datar][WARNING] Builtin name "min" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "max" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "round" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "all" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "any" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "re" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2021-09-01 23:36:00][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # fct_expand

##### Add additional levels to a factor

##### Args:
&emsp;&emsp;`_f`: A factor
&emsp;&emsp;`*additional_levels`: Additional levels to add to the factor.
&emsp;&emsp;&emsp;&emsp;Levels that already exist will be silently ignored.

##### Returns:
&emsp;&emsp;The factor with levels expanded

### # fct_explicit_na

##### Make missing values explicit

This gives missing values an explicit factor level, ensuring that they
appear in summaries and on plots.

##### Args:
&emsp;&emsp;`_f`: A factor
&emsp;&emsp;`na_level`: Level to use for missing values.
&emsp;&emsp;&emsp;&emsp;This is what NAs will be changed to.

##### Returns:
&emsp;&emsp;The factor with explict na_levels

### # fct_drop

##### Drop unused levels

##### Args:
&emsp;&emsp;`_f`: A factor
&emsp;&emsp;`only`: A character vector restricting the set of levels to be dropped.
&emsp;&emsp;&emsp;&emsp;If supplied, only levels that have no entries and appear in
&emsp;&emsp;&emsp;&emsp;this vector will be removed.

##### Returns:
&emsp;&emsp;The factor with unused levels dropped

### # fct_unify

##### Unify the levels in a list of factors

##### Args:
&emsp;&emsp;`fs`: A list of factors
&emsp;&emsp;`levels`: Set of levels to apply to every factor. Default to union
&emsp;&emsp;&emsp;&emsp;of all factor levels

##### Returns:
&emsp;&emsp;A list of factors with the levels expanded

## fct_expand

In [2]:
fct = factor(sample(letters[:3], 20, replace = TRUE))
fct

['b', 'b', 'c', 'c', 'a', ..., 'a', 'b', 'b', 'c', 'b']
Length: 20
Categories (3, object): ['a', 'b', 'c']

In [3]:
fct_expand(fct, "d", "e", "f")

['b', 'b', 'c', 'c', 'a', ..., 'a', 'b', 'b', 'c', 'b']
Length: 20
Categories (6, object): ['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
fct_expand(fct, letters[:6])

['b', 'b', 'c', 'c', 'a', ..., 'a', 'b', 'b', 'c', 'b']
Length: 20
Categories (6, object): ['a', 'b', 'c', 'd', 'e', 'f']

## fct_explicit_na

In [5]:
f1 = factor(c("a", "a", NA, NA, "a", "b", NA, "c", "a", "c", "b"))
fct_count(f1)

           f         n
  <category> <float64>
0          a       4.0
1          b       2.0
2          c       2.0
3        NaN       3.0

In [6]:
f2 = fct_explicit_na(f1)
fct_count(f2)

           f       n
  <category> <int64>
0          a       4
1          b       2
2          c       2
3  (Missing)       3

## fct_drop

In [10]:
fct = factor(c("a", "b"), levels = c("a", "b", "c"))
fct

['a', 'b']
Categories (3, object): ['a', 'b', 'c']

In [11]:
fct_drop(fct)

['a', 'b']
Categories (2, object): ['a', 'b']

In [12]:
fct_drop(fct, only = "a")

['a', 'b']
Categories (3, object): ['a', 'b', 'c']

In [13]:
fct_drop(fct, only = "c")

['a', 'b']
Categories (2, object): ['a', 'b']

## fct_unify

In [14]:
fs = [factor("a"), factor("b"), factor(c("a", "b"))]
fct_unify(fs)

[['a']
 Categories (2, object): ['a', 'b'],
 ['b']
 Categories (2, object): ['a', 'b'],
 ['a', 'b']
 Categories (2, object): ['a', 'b']]