In [1]:
# datar specific

from datar.datasets import iris
from datar.all import *

In [2]:
iris >> get(f[:5])

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris >> get(cols=f.Species)

       Species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [4]:
# select single element
iris >> get(0, f.Species)

'setosa'

In [5]:
# get it as a single-element dataframe
iris >> get([0], f.Species)

0    setosa
Name: Species, dtype: object

In [6]:
# or 
iris >> get(0, [f.Species])

Species    setosa
Name: 0, dtype: object