In [1]:
# datar specific

from datar.datasets import iris
from datar.all import *

%run nb_helpers.py
nb_header(get)

[2021-06-21 13:58:35][datar][WARNING] Builtin name "min" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "max" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "round" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "all" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "any" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "re" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2021-06-21 13:58:35][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # get

##### Get a single element or a subset of a dataframe

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`rows`: The rows to subset the dataframe
&emsp;&emsp;`cols`: The columns to subset the dataframe
&emsp;&emsp;&emsp;&emsp;If both rows and cols are scalar, then a single element will be
&emsp;&emsp;&emsp;&emsp;returned

##### Returns:
&emsp;&emsp;A single element when both rows and cols are scalar, otherwise
&emsp;&emsp;a subset of _data

In [2]:
iris >> get(f[:5])

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
      <float64>    <float64>     <float64>    <float64> <object>
0           5.1          3.5           1.4          0.2   setosa
1           4.9          3.0           1.4          0.2   setosa
2           4.7          3.2           1.3          0.2   setosa
3           4.6          3.1           1.5          0.2   setosa
4           5.0          3.6           1.4          0.2   setosa

In [3]:
iris >> get(cols=f.Species)

       Species
      <object>
0       setosa
1       setosa
2       setosa
3       setosa
..         ...
4       setosa
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [7]:
# select single element
iris >> get(1, f.Species)

'setosa'

In [8]:
# get it as a single-element dataframe
iris >> get([1], f.Species)

   Species
  <object>
0   setosa

In [9]:
# or 
iris >> get(1, [f.Species])

   Species
  <object>
0   setosa