In [1]:
# https://dplyr.tidyverse.org/reference/group_trim.html
%run nb_helpers.py

from datar.all import *

nb_header(group_trim)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… group_trim</div>

##### Remove empty groups

The original API:
https://dplyr.tidyverse.org/reference/group_trim.html

##### Args:
&emsp;&emsp;`_data`: A grouped frame
&emsp;&emsp;`_drop`: See `group_by`.

##### Returns:
&emsp;&emsp;A grouped frame

In [3]:
df = tibble(x=factor(["a", "b"], levels=list("abc")))
df >> group_by(f.x, _drop=False) >> group_data()

           x    _rows
  <category> <object>
0          a      [0]
1          b      [1]
2          c       []

In [4]:
df >> group_by(f.x, _drop=False) >> group_trim() >> group_data()

           x    _rows
  <category> <object>
0          a      [0]
1          b      [1]