In [1]:
# https://dplyr.tidyverse.org/reference/group_map.html

from datar.datasets import mtcars, iris
from datar.all import *

%run nb_helpers.py
nb_header(group_map)

[2022-03-06 01:54:27][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 01:54:27][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # group_map

##### A generator to map function to data in each group

In [2]:
list(
  mtcars >> \
  group_by(f.cyl) >> \
  group_map(lambda df: df >> head(2))
)

[        mpg      disp      hp      drat        wt      qsec      vs      am  \
   <float64> <float64> <int64> <float64> <float64> <float64> <int64> <int64>
 0      21.0     160.0     110       3.9     2.620     16.46       0       1
 1      21.0     160.0     110       3.9     2.875     17.02       0       1

      gear    carb
   <int64> <int64>
 0       4       4
 1       4       4  ,
         mpg      disp      hp      drat        wt      qsec      vs      am  \
   <float64> <float64> <int64> <float64> <float64> <float64> <int64> <int64>
 0      22.8     108.0      93      3.85      2.32     18.61       1       1
 1      24.4     146.7      62      3.69      3.19     20.00       1       0

      gear    carb
   <int64> <int64>
 0       4       1
 1       4       2  ,
         mpg      disp      hp      drat        wt      qsec      vs      am  \
   <float64> <float64> <int64> <float64> <float64> <float64> <int64> <int64>
 0      18.7     360.0     175      3.15      3.44     17.02       0       0
 1      14.3     360.0     245      3.21      3.57     15.84       0       0

      gear    carb
   <int64> <int64>
 0       3       2
 1       3       4  ]

In [3]:

mtcars >> \
  group_by(f.cyl) >> \
  group_modify(lambda df: df >> head(2))

,cyl,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<int64>,<float64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,6,21.0,160.0,110,3.90,2.620,16.46,0,1,4,4
1,6,21.0,160.0,110,3.90,2.875,17.02,0,1,4,4
0,4,22.8,108.0,93,3.85,2.320,18.61,1,1,4,1
1,4,24.4,146.7,62,3.69,3.190,20.00,1,0,4,2
0,8,18.7,360.0,175,3.15,3.440,17.02,0,0,3,2
1,8,14.3,360.0,245,3.21,3.570,15.84,0,0,3,4

In [4]:
list(
  iris >> \
  group_by(f.Species) >> \
  group_map(lambda df: quantile(df['Petal_Length'], probs=c(0.25, 0.5, 0.75)))
)

[0.25    1.400
 0.50    1.500
 0.75    1.575
 Name: x, dtype: float64,
 0.25    4.00
 0.50    4.35
 0.75    4.60
 Name: x, dtype: float64,
 0.25    5.100
 0.50    5.550
 0.75    5.875
 Name: x, dtype: float64]

In [5]:
iris >> \
  group_by(f.Species) >> \
  group_walk(lambda df: print(df.shape))

(50, 4)
(50, 4)
(50, 4)

In [6]:
mtcars >> \
  group_modify(lambda df: df >> head(2))

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4