In [1]:
# https://dplyr.tidyverse.org/reference/group_trim.html

from datar.all import *

%run nb_helpers.py
nb_header(group_trim)

[2022-03-06 02:01:31][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 02:01:31][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 02:01:31][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 02:01:32][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # group_trim

##### Trim the unused group levels

In [9]:
df = tibble(x=factor(["a", "b"], list("abc")))
df >> group_by(f.x, _drop=False) >> group_data()

           x    _rows
  <category> <object>
0          a      [0]
1          b      [1]
2          c       []

In [10]:
df >> group_by(f.x, _drop=False) >> group_trim() >> group_data()

           x    _rows
  <category> <object>
0          a      [0]
1          b      [1]