In [1]:
# https://dplyr.tidyverse.org/reference/group_by.html
from datar.datasets import mtcars
from datar.all import *

%run nb_helpers.py
nb_header(group_by, ungroup)

### # group_by

##### Takes an existing tbl and converts it into a grouped tbl where
operations are performed "by group"

See https://dplyr.tidyverse.org/reference/group_by.html

Note that this does not return `pandas.DataFrameGroupBy` object but a
`datar.core.grouped.DataFrameGroupBy` object, which is a subclass of
`DataFrame`. This way, it will be easier to implement the APIs that related
to grouped data.

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`_add`: When False, the default, `group_by()` will override
&emsp;&emsp;&emsp;&emsp;existing groups. To add to the existing groups, use `_add=True`.

&emsp;&emsp;`_drop`: Drop groups formed by factor levels that don't appear in the
&emsp;&emsp;&emsp;&emsp;data? The default is True except when `_data` has been previously
&emsp;&emsp;&emsp;&emsp;grouped with `_drop=False`.

&emsp;&emsp;`*args`: variables or computations to group by.
&emsp;&emsp;&emsp;&emsp;Note that columns here cannot be selected by indexes. As they are
&emsp;&emsp;&emsp;&emsp;treated as computations to be added as new columns.
&emsp;&emsp;&emsp;&emsp;So no `_base0` argument is supported.

&emsp;&emsp;`**kwargs`: Extra variables to group the dataframe

##### Return:
&emsp;&emsp;A `datar.core.grouped.DataFrameGroupBy` object

### # ungroup

##### Ungroup a grouped data

See https://dplyr.tidyverse.org/reference/group_by.html

##### Args:
&emsp;&emsp;`x`: The data frame
&emsp;&emsp;`*cols`: Variables to remove from the grouping variables.
&emsp;&emsp;`_base0`: If columns are selected with indexes, whether they are 0-based.
&emsp;&emsp;&emsp;&emsp;If not given, will use `datar.base.get_option('index.base.0')`

##### Returns:
&emsp;&emsp;A data frame with selected columns removed from the grouping variables.

In [2]:
by_cyl = mtcars >> group_by(f.cyl) 
by_cyl

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2
[Groups: ['cyl'] (n=3)]

In [3]:
by_cyl >> group_vars()

['cyl']

In [4]:
by_cyl >> summarise(
  disp = mean(f.disp),
  hp = mean(f.hp)
)

   cyl        disp          hp
0    4  105.136364   82.636364
1    6  183.314286  122.285714
2    8  353.100000  209.214286

In [5]:
by_cyl >> filter(f.disp == max(f.disp))

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
1  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
2  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
[Groups: ['cyl'] (n=3)]

In [6]:
by_vs_am = mtcars >> group_by(f.vs, f.am)
by_vs = by_vs_am >> summarise(n=n())
by_vs

[2021-05-25 11:05:32][datar][   INFO] `summarise()` has grouped output by ['vs'] (override with `_groups` argument)

   vs  am   n
0   0   0  12
1   0   1   6
2   1   0   7
3   1   1   7
[Groups: ['vs'] (n=2)]

In [7]:
by_vs >> summarise(n=sum(f.n))

   vs   n
0   0  18
1   1  14

In [8]:
by_vs >> \
  ungroup() >> \
  summarise(n = sum(f.n))

    n
0  32

In [9]:
mtcars_vsam = mtcars >> group_by(vsam=f.vs + f.am) 
mtcars_vsam

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb  vsam
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4     1
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4     1
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1     2
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2     0
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4     0
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2     1
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2     1
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4     1
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4     1
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3     0
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3     0
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3     0
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4     0
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4     0
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4     0
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1     2
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1     2
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2     0
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2     0
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4     0
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2     0
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1     2
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2     1
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4     1
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6     1
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8     1
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2     2
[Groups: ['vsam'] (n=3)]

In [10]:
by_cyl >> \
  group_by(f.vs, f.am) >> \
  group_vars()

['vs', 'am']

In [11]:
by_cyl >> \
  group_by(f.vs, f.am, _add=True) >> \
  group_vars()

['cyl', 'vs', 'am']