In [1]:
# https://dplyr.tidyverse.org/reference/nest_join.html
%run nb_helpers.py

from datar.data import band_members, band_instruments
from datar.all import *

nb_header(nest_join, book='nest-join')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… nest_join</div>

##### Nest join two data frames by matching rows.

The original API:
https://dplyr.tidyverse.org/reference/join.html

##### Args:
&emsp;&emsp;`x`: A data frame
&emsp;&emsp;`y`: A data frame
&emsp;&emsp;`by`: A list of column names to join by.
&emsp;&emsp;&emsp;&emsp;If None, use the intersection of the columns of x and y.

&emsp;&emsp;`copy`: If True, always copy the data.
&emsp;&emsp;`keep`: If True, keep the grouping variables in the output.
&emsp;&emsp;`name`: The name of the column to store the nested data frame.

##### Returns:
&emsp;&emsp;A data frame

In [2]:
nested = band_members >> nest_join(band_instruments)
nested

      name     band _y_joined
  <object> <object>  <object>
0     Mick   Stones  <DF 0x1>
1     John  Beatles  <DF 1x1>
2     Paul  Beatles  <DF 1x1>

In [3]:
nested >> head(2) >> pull(f._y_joined, to='list')

[Empty Tibble
 Columns: [plays]
 Index: [],
      plays
   <object>
 0   guitar]