In [1]:
# https://dplyr.tidyverse.org/reference/relocate.html
%run nb_helpers.py
from datar.all import *

nb_header(relocate)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… relocate</div>

##### change column positions

See original API
https://dplyr.tidyverse.org/reference/relocate.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`*args`: and
&emsp;&emsp;`**kwargs`: Columns to rename and move
&emsp;&emsp;`_before`: and
&emsp;&emsp;`_after`: Destination. Supplying neither will move columns to
&emsp;&emsp;&emsp;&emsp;the left-hand side; specifying both is an error.

##### Returns:
&emsp;&emsp;An object of the same type as .data. The output has the following
&emsp;&emsp;properties:
&emsp;&emsp;- Rows are not affected.
&emsp;&emsp;- The same columns appear in the output, but (usually) in a
&emsp;&emsp;&emsp;&emsp;different place.

&emsp;&emsp;- Data frame attributes are preserved.
&emsp;&emsp;- Groups are not affected

In [2]:
df = tibble(a=1, b=1, c=1, d='a', e='a', f='a')
df

        a       b       c        d        e        f
  <int64> <int64> <int64> <object> <object> <object>
0       1       1       1        a        a        a

In [3]:
df >> relocate(f.f)

         f       a       b       c        d        e
  <object> <int64> <int64> <int64> <object> <object>
0        a       1       1       1        a        a

In [4]:
df >> relocate(f.a, _after = f.c)

        b       c       a        d        e        f
  <int64> <int64> <int64> <object> <object> <object>
0       1       1       1        a        a        a

In [5]:
df >> relocate(f.f, _before = f.b)

        a        f       b       c        d        e
  <int64> <object> <int64> <int64> <object> <object>
0       1        a       1       1        a        a

In [6]:
df >> relocate(f.a, _after = last_col())

        b       c        d        e        f       a
  <int64> <int64> <object> <object> <object> <int64>
0       1       1        a        a        a       1

In [7]:
df >> relocate(ff=f.f)

        ff       a       b       c        d        e
  <object> <int64> <int64> <int64> <object> <object>
0        a       1       1       1        a        a

In [8]:
df >> relocate(where(is_character))

         d        e        f       a       b       c
  <object> <object> <object> <int64> <int64> <int64>
0        a        a        a       1       1       1

In [9]:
df >> relocate(where(is_numeric), _after = last_col())

         d        e        f       a       b       c
  <object> <object> <object> <int64> <int64> <int64>
0        a        a        a       1       1       1

In [10]:
df >> relocate(any_of(c("a", "e", "i", "o", "u")))

        a        e       b       c        d        f
  <int64> <object> <int64> <int64> <object> <object>
0       1        a       1       1        a        a

In [11]:
df2 = tibble(a=1, b='a', c=1, d='a')
df2

        a        b       c        d
  <int64> <object> <int64> <object>
0       1        a       1        a

In [12]:
df2 >> relocate(where(is_numeric), _after = where(is_character))

         b        d       a       c
  <object> <object> <int64> <int64>
0        a        a       1       1

In [13]:
df2 >> relocate(where(is_numeric), _before = where(is_character))

        a       c        b        d
  <int64> <int64> <object> <object>
0       1       1        a        a

In [14]:
df2 >> relocate(f.d, _after=1)

        a        b        d       c
  <int64> <object> <object> <int64>
0       1        a        a       1