In [1]:
# https://dplyr.tidyverse.org/reference/rename.html

from datar.datasets import iris
from datar.all import *

%run nb_helpers.py
nb_header(rename, rename_with)

### # rename

##### Changes the names of individual variables using new_name = old_name
syntax

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`**kwargs`: The new_name = old_name pairs
&emsp;&emsp;`_base0`: Whether the old_name is 0-based if given by indexes.
&emsp;&emsp;&emsp;&emsp;If not provided, will use `datar.base.getOption('index.base.0')`

##### Returns:
&emsp;&emsp;The dataframe with new names

### # rename_with

##### Renames columns using a function.

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`_fn`: The function to rename a column
&emsp;&emsp;`*args`: the columns to rename and non-keyword arguments for the `_fn`.
&emsp;&emsp;&emsp;&emsp;If `*args` is not provided, then assuming all columns, and
&emsp;&emsp;&emsp;&emsp;no non-keyword arguments are allowed to pass to the function, use
&emsp;&emsp;&emsp;&emsp;keyword arguments instead.

&emsp;&emsp;`**kwargs`: keyword arguments for `_fn`
&emsp;&emsp;`_base0`: Whether the old_name is 0-based if given by indexes.
&emsp;&emsp;&emsp;&emsp;If not provided, will use `datar.base.getOption('index.base.0')`

##### Returns:
&emsp;&emsp;The dataframe with new names

In [2]:
rename(iris, petal_length='Petal_Length')

     Sepal_Length  Sepal_Width  petal_length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
rename_with(iris, str.upper)

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH    SPECIES
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
iris >> rename_with(str.upper, starts_with("Petal"))

     Sepal_Length  Sepal_Width  PETAL_LENGTH  PETAL_WIDTH    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
iris >> rename_with(lambda x: x.replace('_', '.').lower())

     sepal.length  sepal.width  petal.length  petal.width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
# names can be selected by indexes
iris >> rename(Sp=5)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Sp
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
iris >> rename(Sp=4, _base0=True)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Sp
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]