In [1]:
# https://dplyr.tidyverse.org/reference/rename.html
%run nb_helpers.py

from datar.data import iris
from datar.all import *

nb_header(rename, rename_with)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ rename</div>

##### Rename columns

See original API
https://dplyr.tidyverse.org/reference/rename.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`**kwargs`: Columns to rename

##### Returns:
&emsp;&emsp;The dataframe with new names

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ rename_with</div>

##### Rename columns with a function

See original API
https://dplyr.tidyverse.org/reference/rename.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`_fn`: A function to apply to column names
&emsp;&emsp;`*args`: the columns to rename and non-keyword arguments for the `_fn`.
&emsp;&emsp;&emsp;&emsp;If `*args` is not provided, then assuming all columns, and
&emsp;&emsp;&emsp;&emsp;no non-keyword arguments are allowed to pass to the function, use
&emsp;&emsp;&emsp;&emsp;keyword arguments instead.

&emsp;&emsp;`**kwargs`: keyword arguments for `_fn`

##### Returns:
&emsp;&emsp;The dataframe with new names

In [2]:
rename(iris, petal_length='Petal_Length')

     Sepal_Length  Sepal_Width  petal_length  Petal_Width    Species
        <float64>    <float64>     <float64>    <float64>   <object>
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
rename_with(iris, str.upper)

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH    SPECIES
        <float64>    <float64>     <float64>    <float64>   <object>
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
iris >> rename_with(str.upper, starts_with("Petal"))

     Sepal_Length  Sepal_Width  PETAL_LENGTH  PETAL_WIDTH    Species
        <float64>    <float64>     <float64>    <float64>   <object>
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
iris >> rename_with(lambda x: x.replace('_', '.').lower())

     sepal.length  sepal.width  petal.length  petal.width    species
        <float64>    <float64>     <float64>    <float64>   <object>
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# names can be selected by indexes
iris >> rename(Sp=4)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Sp
        <float64>    <float64>     <float64>    <float64>   <object>
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
4             5.0          3.6           1.4          0.2     setosa
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]