In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html
%run nb_helpers.py

from datar.all import *

nb_header(rowwise)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… rowwise</div>

##### Compute on a data frame a row-at-a-time

See https://dplyr.tidyverse.org/reference/rowwise.html

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*cols`: Variables to be preserved when calling summarise().
&emsp;&emsp;&emsp;&emsp;This is typically a set of variables whose combination
&emsp;&emsp;&emsp;&emsp;uniquely identify each row.

##### Returns:
&emsp;&emsp;A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across(c(f.x, f.y, f.z))))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.598889  0.750540  0.165758  0.505062
1  0.639200  0.945952  0.339303  0.641485
2  0.415240  0.725756  0.184642  0.441879
3  0.375989  0.432068  0.113932  0.307329
4  0.361752  0.253792  0.621856  0.412466
5  0.260691  0.200419  0.391062  0.284058
[TibbleRowwise:  (n=6)]

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.598889  0.750540  0.165758  0.505062
1  0.639200  0.945952  0.339303  0.641485
2  0.415240  0.725756  0.184642  0.441879
3  0.375989  0.432068  0.113932  0.307329
4  0.361752  0.253792  0.621856  0.412466
5  0.260691  0.200419  0.391062  0.284058
[TibbleRowwise:  (n=6)]

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.598889  0.750540  0.165758  0.165758
1  0.639200  0.945952  0.339303  0.339303
2  0.415240  0.725756  0.184642  0.184642
3  0.375989  0.432068  0.113932  0.113932
4  0.361752  0.253792  0.621856  0.253792
5  0.260691  0.200419  0.391062  0.200419
[TibbleRowwise:  (n=6)]

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.598889  0.750540  0.165758  0.165758
1  0.639200  0.945952  0.339303  0.339303
2  0.415240  0.725756  0.184642  0.184642
3  0.375989  0.432068  0.113932  0.113932
4  0.361752  0.253792  0.621856  0.253792
5  0.260691  0.200419  0.391062  0.200419
[TibbleRowwise:  (n=6)]

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.598889  0.750540  0.165758  0.165758
1  0.639200  0.945952  0.339303  0.339303
2  0.415240  0.725756  0.184642  0.184642
3  0.375989  0.432068  0.113932  0.113932
4  0.361752  0.253792  0.621856  0.253792
5  0.260691  0.200419  0.391062  0.200419

In [7]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> mutate(z=rnorm(f.n, f.mean, f.sd))

,sim,n,mean,sd,z
,<int64>,<int64>,<int64>,<int64>,<object>
0,1,1,1,1,[-0.7634531680295189]
1,2,2,2,4,"[1.3116228201838442, -2.3156113026975653]"
2,3,3,1,2,"[1.47493909065586, -1.074116930262953, -1.0587..."