In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

%run nb_helpers.py
nb_header(rowwise)

### # rowwise

##### Compute on a data frame a row-at-a-time

See https://dplyr.tidyverse.org/reference/rowwise.html

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*columns`: Variables to be preserved when calling summarise().
&emsp;&emsp;&emsp;&emsp;This is typically a set of variables whose combination
&emsp;&emsp;&emsp;&emsp;uniquely identify each row.

&emsp;&emsp;`_base0`: Whether indexes are 0-based if columns are selected by indexes.
&emsp;&emsp;&emsp;&emsp;If not given, will use `datar.base.get_option('index.base.0')`

##### Returns:
&emsp;&emsp;A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across(c(f.x, f.y, f.z))))

          x         y         z         m
0  0.419920  0.027680  0.916595  0.454732
1  0.686813  0.531755  0.397081  0.538550
2  0.380635  0.064078  0.988568  0.477760
3  0.038712  0.810157  0.773146  0.540671
4  0.059249  0.007730  0.788166  0.285048
5  0.371578  0.825340  0.654068  0.616995
[Rowwise: []]

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.649909  0.887934  0.917438  0.818427
1  0.262603  0.515239  0.663813  0.480552
2  0.937178  0.246736  0.756363  0.646759
3  0.275029  0.674783  0.597270  0.515694
4  0.559743  0.306036  0.372108  0.412629
5  0.508016  0.866988  0.809208  0.728070
[Rowwise: []]

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.419920  0.027680  0.916595  0.027680
1  0.686813  0.531755  0.397081  0.397081
2  0.380635  0.064078  0.988568  0.064078
3  0.038712  0.810157  0.773146  0.038712
4  0.059249  0.007730  0.788166  0.007730
5  0.371578  0.825340  0.654068  0.371578
[Rowwise: []]

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.419920  0.027680  0.916595  0.027680
1  0.686813  0.531755  0.397081  0.397081
2  0.380635  0.064078  0.988568  0.064078
3  0.038712  0.810157  0.773146  0.038712
4  0.059249  0.007730  0.788166  0.007730
5  0.371578  0.825340  0.654068  0.371578
[Rowwise: []]

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.419920  0.027680  0.916595  0.027680
1  0.686813  0.531755  0.397081  0.397081
2  0.380635  0.064078  0.988568  0.064078
3  0.038712  0.810157  0.773146  0.038712
4  0.059249  0.007730  0.788166  0.007730
5  0.371578  0.825340  0.654068  0.371578

In [7]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> summarise(z=[rnorm(f.n, f.mean, f.sd)])

[2021-05-25 11:09:41][datar][   INFO] `summarise()` has grouped output by ['sim'] (override with `_groups` argument)

   sim                                                  z
0    1                               [0.5405731145609822]
1    2           [0.8468941225815425, 0.5487496127621776]
2    3  [1.2684482877307353, 3.5201931917132363, 0.970...
[Groups: ['sim'] (n=3)]