In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

%run nb_helpers.py
nb_header(rowwise)

[2021-07-16 15:28:09][datar][WARNING] Builtin name "min" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "max" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "round" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "all" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "any" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "re" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2021-07-16 15:28:09][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # rowwise

##### Compute on a data frame a row-at-a-time

See https://dplyr.tidyverse.org/reference/rowwise.html

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*columns`: Variables to be preserved when calling summarise().
&emsp;&emsp;&emsp;&emsp;This is typically a set of variables whose combination
&emsp;&emsp;&emsp;&emsp;uniquely identify each row.

&emsp;&emsp;`base0_`: Whether indexes are 0-based if columns are selected by indexes.
&emsp;&emsp;&emsp;&emsp;If not given, will use `datar.base.get_option('index.base.0')`

##### Returns:
&emsp;&emsp;A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across(c(f.x, f.y, f.z))))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.077154  0.299979  0.257220  0.211451
1  0.407924  0.241265  0.007746  0.218979
2  0.968024  0.661865  0.813643  0.814511
3  0.260182  0.610448  0.216515  0.362382
4  0.620912  0.800267  0.471427  0.630869
5  0.491775  0.156541  0.862262  0.503526

[Rowwise: ]

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:f.z])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.077154  0.299979  0.257220  0.211451
1  0.407924  0.241265  0.007746  0.218979
2  0.968024  0.661865  0.813643  0.814511
3  0.260182  0.610448  0.216515  0.362382
4  0.620912  0.800267  0.471427  0.630869
5  0.491775  0.156541  0.862262  0.503526

[Rowwise: ]

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.077154  0.299979  0.257220  0.077154
1  0.407924  0.241265  0.007746  0.007746
2  0.968024  0.661865  0.813643  0.661865
3  0.260182  0.610448  0.216515  0.216515
4  0.620912  0.800267  0.471427  0.471427
5  0.491775  0.156541  0.862262  0.156541

[Rowwise: ]

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:f.z])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.077154  0.299979  0.257220  0.077154
1  0.407924  0.241265  0.007746  0.007746
2  0.968024  0.661865  0.813643  0.661865
3  0.260182  0.610448  0.216515  0.216515
4  0.620912  0.800267  0.471427  0.471427
5  0.491775  0.156541  0.862262  0.156541

[Rowwise: ]

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.077154  0.299979  0.257220  0.077154
1  0.407924  0.241265  0.007746  0.007746
2  0.968024  0.661865  0.813643  0.661865
3  0.260182  0.610448  0.216515  0.216515
4  0.620912  0.800267  0.471427  0.471427
5  0.491775  0.156541  0.862262  0.156541

In [7]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> mutate(z=[rnorm(f.n, f.mean, f.sd)])

,sim,sim,n,mean,sd,z
,<int64>,<int64>,<int64>,<int64>,<int64>,<object>
0,1,1,1,1,1,[1.2855047883943453]
1,2,2,2,2,4,"[-10.824607900308285, -1.9616776206818036]"
2,3,3,3,1,2,"[2.5483739733913815, 1.6663695410372967, -0.03..."