In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

%run nb_helpers.py
nb_header(rowwise)

[2022-03-06 02:33:14][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 02:33:14][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # rowwise

##### Compute on a data frame a row-at-a-time

See https://dplyr.tidyverse.org/reference/rowwise.html

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*cols`: Variables to be preserved when calling summarise().
&emsp;&emsp;&emsp;&emsp;This is typically a set of variables whose combination
&emsp;&emsp;&emsp;&emsp;uniquely identify each row.

##### Returns:
&emsp;&emsp;A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across(c(f.x, f.y, f.z))))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.903370  0.381683  0.289784  0.524946
1  0.862827  0.432840  0.152457  0.482708
2  0.329482  0.993187  0.022119  0.448263
3  0.329133  0.365489  0.841347  0.511990
4  0.376668  0.604747  0.967709  0.649708
5  0.808531  0.968855  0.165438  0.647608
[TibbleRowwise:  (n=6)]

In [8]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.903370  0.381683  0.289784  0.524946
1  0.862827  0.432840  0.152457  0.482708
2  0.329482  0.993187  0.022119  0.448263
3  0.329133  0.365489  0.841347  0.511990
4  0.376668  0.604747  0.967709  0.649708
5  0.808531  0.968855  0.165438  0.647608
[TibbleRowwise:  (n=6)]

In [9]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.903370  0.381683  0.289784  0.289784
1  0.862827  0.432840  0.152457  0.152457
2  0.329482  0.993187  0.022119  0.022119
3  0.329133  0.365489  0.841347  0.329133
4  0.376668  0.604747  0.967709  0.376668
5  0.808531  0.968855  0.165438  0.165438
[TibbleRowwise:  (n=6)]

In [13]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:])))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.903370  0.381683  0.289784  0.289784
1  0.862827  0.432840  0.152457  0.152457
2  0.329482  0.993187  0.022119  0.022119
3  0.329133  0.365489  0.841347  0.329133
4  0.376668  0.604747  0.967709  0.376668
5  0.808531  0.968855  0.165438  0.165438
[TibbleRowwise:  (n=6)]

In [14]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
  <float64> <float64> <float64> <float64>
0  0.903370  0.381683  0.289784  0.289784
1  0.862827  0.432840  0.152457  0.152457
2  0.329482  0.993187  0.022119  0.022119
3  0.329133  0.365489  0.841347  0.329133
4  0.376668  0.604747  0.967709  0.376668
5  0.808531  0.968855  0.165438  0.165438

In [16]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> mutate(z=rnorm(f.n, f.mean, f.sd))

,sim,n,mean,sd,z
,<int64>,<int64>,<int64>,<int64>,<object>
0,1,1,1,1,[-0.49710972258374775]
1,2,2,2,4,"[-5.952767882433143, 1.3006955205328627]"
2,3,3,1,2,"[-0.034757059529934686, 1.211681840606102, 0.4..."