In [1]:
# https://dplyr.tidyverse.org/reference/setops.html
%run nb_helpers.py

from datar.datasets import mtcars
from datar.all import *

nb_header(intersect, union, setdiff, union_all, setequal, book='setops')

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ intersect</div>

##### Intersect of two iterables

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ union</div>

##### Union of two iterables

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ setdiff</div>

##### Diff of two iterables

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ union_all</div>

##### Union of all rows of two dataframes

##### Args:
&emsp;&emsp;_data, *datas: Dataframes to perform operations
&emsp;&emsp;`on`: The columns to the dataframes to perform operations on

##### Returns:
&emsp;&emsp;The dataframe of union of all rows of input dataframes

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ setequal</div>

##### Check set equality for two iterables (order doesn't matter)

In [2]:
first = mtcars >> slice(f[:20])
second = mtcars >> slice(f[9:33])

intersect(first, second) # or first >> intersect(second)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
1,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
2,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
3,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
4,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
6,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
7,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
8,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
9,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
10,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

In [3]:
union(first, second)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [4]:
setdiff(first, second)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2

In [5]:
setdiff(second, first)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
1,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
2,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
3,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
4,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
5,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
6,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
7,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
8,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
9,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
10,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
11,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
union_all(first, second)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
0,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
21,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
22,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
23,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
24,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
25,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
26,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
27,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
28,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
29,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
30,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
31,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
32,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
33,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
34,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
35,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
36,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
37,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
38,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
39,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
40,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
41,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
42,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [7]:
setequal(mtcars, mtcars >> slice(f[::-1]))

False

In [8]:
a = tibble(column=c(*range(11), 10))
b = tibble(column=c(*range(6), 5))
intersect(a, b)

   column
  <int64>
0       0
1       1
2       2
3       3
4       4
5       5

In [9]:
union(a, b)

    column
   <int64>
0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10

In [10]:
setdiff(a, b)

   column
  <int64>
0       6
1       7
2       8
3       9
4      10

In [11]:
union_all(a, b)

    column
   <int64>
0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      10
12       0
13       1
14       2
15       3
16       4
17       5
18       5