In [1]:
# https://dplyr.tidyverse.org/reference/slice.html
%run nb_helpers.py

from datar.data import mtcars
from datar.all import *

nb_header(slice, slice_head, slice_max, slice_min, slice_sample, slice_tail)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ slice_</div>

##### Extract rows by their position

The original API:
https://dplyr.tidyverse.org/reference/slice.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`*args`: Positions to extract.
&emsp;&emsp;`_preserve`: If `True`, keep grouping variables even if they are not used.

##### Returns:
&emsp;&emsp;The subset dataframe

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ slice_head</div>

##### Extract the first rows

The original API:
https://dplyr.tidyverse.org/reference/slice.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`n`: Number of rows to extract.
&emsp;&emsp;`prop`: Proportion of rows to extract.

##### Returns:
&emsp;&emsp;The subset dataframe

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ slice_max</div>

##### Extract rows with the maximum value

The original API:
https://dplyr.tidyverse.org/reference/slice.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`order_by`: A variable or function of variables to order by.
&emsp;&emsp;`n`: Number of rows to extract.
&emsp;&emsp;`prop`: Proportion of rows to extract.
&emsp;&emsp;`with_ties`: If `True`, extract all rows with the maximum value.
&emsp;&emsp;&emsp;&emsp;If "first", extract the first row with the maximum value.
&emsp;&emsp;&emsp;&emsp;If "last", extract the last row with the maximum value.

##### Returns:
&emsp;&emsp;The subset dataframe

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ slice_min</div>

##### Extract rows with the minimum value

The original API:
https://dplyr.tidyverse.org/reference/slice.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`order_by`: A variable or function of variables to order by.
&emsp;&emsp;`n`: Number of rows to extract.
&emsp;&emsp;`prop`: Proportion of rows to extract.
&emsp;&emsp;`with_ties`: If `True`, extract all rows with the minimum value.
&emsp;&emsp;&emsp;&emsp;If "first", extract the first row with the minimum value.
&emsp;&emsp;&emsp;&emsp;If "last", extract the last row with the minimum value.

##### Returns:
&emsp;&emsp;The subset dataframe

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ slice_sample</div>

##### Extract rows by sampling

The original API:
https://dplyr.tidyverse.org/reference/slice.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`n`: Number of rows to extract.
&emsp;&emsp;`prop`: Proportion of rows to extract.
&emsp;&emsp;`weight_by`: A variable or function of variables to weight by.
&emsp;&emsp;`replace`: If `True`, sample with replacement.

##### Returns:
&emsp;&emsp;The subset dataframe

### <div style="background-color: #EEE; padding: 5px 0 8px 0">★ slice_tail</div>

##### Extract the last rows

The original API:
https://dplyr.tidyverse.org/reference/slice.html

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`n`: Number of rows to extract.
&emsp;&emsp;`prop`: Proportion of rows to extract.

##### Returns:
&emsp;&emsp;The subset dataframe

In [4]:
mtcars >> slice(0) # 0-based by default

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Mazda RX4,21.0,6,160.0,110,3.9,2.62,16.46,0,1,4,4

In [3]:
mtcars >> slice(n()-1) # last row

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Volvo 142E,21.4,4,121.0,109,4.11,2.78,18.6,1,1,4,2

In [5]:
# or
mtcars >> slice(-1)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Volvo 142E,21.4,4,121.0,109,4.11,2.78,18.6,1,1,4,2

In [6]:
mtcars >> slice(c[5:])

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [7]:
# or
mtcars >> slice(~c[:4])

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [8]:
mtcars >> slice(-c[:4])

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Ford Pantera L,15.8,8,351.0,264,4.22,3.17,14.5,0,1,5,4
Volvo 142E,21.4,4,121.0,109,4.11,2.78,18.6,1,1,4,2
Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.6,0,1,5,8
Ferrari Dino,19.7,6,145.0,175,3.62,2.77,15.5,0,1,5,6

In [9]:
mtcars >> slice_head(n=5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
mtcars >> slice_tail(n=5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [11]:
mtcars >> slice_min(f.mpg, n=5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4

In [12]:
mtcars >> slice_max(f.mpg, n=5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1

In [13]:
mtcars >> slice_min(f.cyl, n=1)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [14]:
mtcars >> slice_min(f.cyl, n=1, with_ties=False)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Datsun 710,22.8,4,108.0,93,3.85,2.32,18.61,1,1,4,1

In [15]:
mtcars >> slice_min(f.cyl, n=1, with_ties='last')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [16]:
mtcars >> slice_sample(n=5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2

In [17]:
mtcars >> slice_sample(n=5, random_state=8525)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,0,3,3
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,0,4,2
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,0,4,2

In [18]:
mtcars >> slice_sample(n=5, random_state=8525)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6,0,0,3,3
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7,0,1,5,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.9,1,0,4,2
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0,1,0,4,2

In [19]:
mtcars >> slice_sample(n=5, random_state=8525, replace=True)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [20]:
mtcars >> slice_sample(weight_by=f.wt, n=5)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2

In [21]:
df = tibble(
  group=['a'] + ['b']*2 + ['c']*4,
  x=runif(7)
)
df >> group_by(f.group) >> slice_head(n=2)

     group         x
  <object> <float64>
0        a  0.993287
1        b  0.969380
2        b  0.450665
3        c  0.710398
4        c  0.029497
[TibbleGrouped: group (n=3)]

In [22]:
df >> group_by(f.group) >> slice_head(prop = 0.5)

     group         x
  <object> <float64>
0        b  0.969380
1        c  0.710398
2        c  0.029497
[TibbleGrouped: group (n=2)]

In [23]:
# row_number() is 1-based by default
mtcars >> filter(row_number() == 1)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Mazda RX4,21.0,6,160.0,110,3.9,2.62,16.46,0,1,4,4

In [24]:
mtcars >> filter(row_number() == n() )

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Volvo 142E,21.4,4,121.0,109,4.11,2.78,18.6,1,1,4,2

In [25]:
mtcars >> filter(5 <= row_number() < n()) # cannot filter

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [26]:
mtcars >> filter(between(row_number(), 5, n()))

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<float64>,<int64>,<int64>,<int64>,<int64>
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [27]:
df = tibble(
  group=['a']*10 + ['b']*20 + ['c']*40,
  x=runif(70)
)
df >> group_by(f.group) >> slice_min(f.x, 2)

     group         x
  <object> <float64>
0        a  0.068146
1        a  0.418989
2        b  0.047916
3        b  0.054781
4        c  0.000433
5        c  0.010472
[TibbleGrouped: group (n=3)]

In [28]:
df >> group_by(f.group) >> slice_max(f.x, 2)

     group         x
  <object> <float64>
0        a  0.985698
1        a  0.712850
2        b  0.993662
3        b  0.985569
4        c  0.994279
5        c  0.966813
[TibbleGrouped: group (n=3)]

In [29]:
df >> group_by(f.group) >> slice_sample(2)

     group         x
  <object> <float64>
0        a  0.636650
1        a  0.068146
2        b  0.058098
3        b  0.847180
4        c  0.743841
5        c  0.010472
[TibbleGrouped: group (n=3)]