In [1]:
# https://tidyr.tidyverse.org/reference/uncount.html

from datar.all import *

%run nb_helpers.py
nb_header(uncount)

[2022-03-06 02:36:03][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 02:36:03][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # uncount

##### Duplicating rows according to a weighting variable

##### Args:
&emsp;&emsp;`data`: A data frame
&emsp;&emsp;`weights`: A vector of weights. Evaluated in the context of data
&emsp;&emsp;`_remove`: If TRUE, and weights is the name of a column in data,
&emsp;&emsp;&emsp;&emsp;then this column is removed.

&emsp;&emsp;`_id`: Supply a string to create a new variable which gives a
&emsp;&emsp;&emsp;&emsp;unique identifier for each created row (0-based).

##### Returns:
&emsp;&emsp;dataframe with rows repeated.

In [2]:
df = tibble(x = c("a", "b"), n = c(1, 2))
df >> uncount(f.n)

         x
  <object>
0        a
1        b
2        b

In [3]:
df >> uncount(f.n, _id="id")

       id        x
  <int64> <object>
0       0        a
1       1        b
2       1        b

In [4]:
uncount(df, 2)

         x       n
  <object> <int64>
0        a       1
1        a       1
2        b       2
3        b       2

In [5]:
df >> uncount(2//f.n)

         x
  <object>
0        a
1        a
2        b