In [1]:
# https://tidyr.tidyverse.org/reference/unite.html
%run nb_helpers.py

from datar.all import *

nb_header(unite)

### <div style="background-color: #EEE; padding: 5px 0 8px 0">â˜… unite</div>

##### Unite multiple columns into one by pasting strings together

##### Args:
&emsp;&emsp;`data`: A data frame.
&emsp;&emsp;`col`: The name of the new column, as a string or symbol.
&emsp;&emsp;`*columns`: Columns to unite
&emsp;&emsp;`sep`: Separator to use between values.
&emsp;&emsp;`remove`: If True, remove input columns from output data frame.
&emsp;&emsp;`na_rm`: If True, missing values will be remove prior to uniting
&emsp;&emsp;&emsp;&emsp;each value.

##### Returns:
&emsp;&emsp;The dataframe with selected columns united

In [2]:
df = expand_grid(x=c("a", NA), y=c("b", NA))
df

         x        y
  <object> <object>
0        a        b
1        a      NaN
2      NaN        b
3      NaN      NaN

In [3]:
df >> unite("z", c(f.x, f.y), remove=False)

         z        x        y
  <object> <object> <object>
0      a_b        a        b
1        a        a      NaN
2        b      NaN        b
3               NaN      NaN

In [4]:
df >> unite("z", [0, 1], na_rm=True, remove=False)

         z        x        y
  <object> <object> <object>
0      a_b        a        b
1        a        a      NaN
2        b      NaN        b
3               NaN      NaN

In [5]:
df >> \
  unite("xy", c(f.x, f.y)) >> \
  separate(f.xy, c("x", "y"))

[2022-12-02 14:51:25][datar][WARNING] Expected 2 pieces. Missing pieces filled with `NA` in 3 rows ['a', 'b', ''].

         x        y
  <object> <object>
0        a        b
1        a      NaN
2        b      NaN
3               NaN