In [1]:
# https://dplyr.tidyverse.org/reference/with_groups.html

from datar.all import *

%run nb_helpers.py
nb_header(with_groups)

[2022-03-06 18:19:37][datar][WARNING] Builtin name "min" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "max" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "sum" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "abs" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "round" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "all" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "any" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "re" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "filter" has been overriden by datar.
[2022-03-06 18:19:37][datar][WARNING] Builtin name "slice" has been overriden by datar.

### # with_groups

##### Modify the grouping variables for a single operation.

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`_groups`: columns passed by group_by
&emsp;&emsp;&emsp;&emsp;Use None to temporarily ungroup.

&emsp;&emsp;`_func`: Function to apply to regrouped data.

##### Returns:
&emsp;&emsp;The new data frame with operations applied.

In [2]:
df = tibble(g=c(1, 1, 2, 2, 3), x=runif(5))
df >> with_groups(f.g, mutate, x_mean = mean(f.x))

        g         x    x_mean
  <int64> <float64> <float64>
0       1  0.787068  0.869330
1       1  0.951592  0.869330
2       2  0.993726  0.618664
3       2  0.243601  0.618664
4       3  0.035540  0.035540
[TibbleGrouped: g (n=3)]

In [3]:
df >> with_groups(f.g, lambda df: df >> mutate(x1 = first(f.x))) 
# FIXME

        g         x        x1
  <int64> <float64> <float64>
0       1  0.787068  0.787068
1       1  0.951592  0.787068
2       2  0.993726  0.787068
3       2  0.243601  0.787068
4       3  0.035540  0.787068
[TibbleGrouped: g (n=3)]

In [4]:
df >> \
  group_by(f.g) >> \
  with_groups(None, mutate, x_mean = mean(f.x))

        g         x    x_mean
  <int64> <float64> <float64>
0       1  0.787068  0.602306
1       1  0.951592  0.602306
2       2  0.993726  0.602306
3       2  0.243601  0.602306
4       3  0.035540  0.602306

In [5]:
df >> \
  group_by(f.g) >> \
  with_groups(None, mutate, g=None)

          x
  <float64>
0  0.787068
1  0.951592
2  0.993726
3  0.243601
4  0.035540