In [6]:
# https://dplyr.tidyverse.org/reference/with_groups.html

from datar.all import *

%run nb_helpers.py
nb_header(with_groups)

### # with_groups

##### Modify the grouping variables for a single operation.

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`_groups`: columns passed by group_by
&emsp;&emsp;&emsp;&emsp;Use None to temporarily ungroup.

&emsp;&emsp;`_func`: Function to apply to regrouped data.

##### Returns:
&emsp;&emsp;The new data frame with operations applied.

In [7]:
df = tibble(g=c(1, 1, 2, 2, 3), x=runif(5))
df >> with_groups(f.g, mutate, x_mean = mean(f.x)) >> ungroup()

        g         x    x_mean
  <int64> <float64> <float64>
0       1  0.799452  0.828470
1       1  0.857488  0.828470
2       2  0.786569  0.536046
3       2  0.285523  0.536046
4       3  0.572095  0.572095

In [8]:
df >> with_groups(f.g, lambda df: df >> mutate(x1 = first(f.x))) >> ungroup()

        g         x        x1
  <int64> <float64> <float64>
0       1  0.799452  0.799452
1       1  0.857488  0.799452
2       2  0.786569  0.786569
3       2  0.285523  0.786569
4       3  0.572095  0.572095

In [9]:
df >> \
  group_by(f.g) >> \
  with_groups(None, mutate, x_mean = mean(f.x))

        g         x    x_mean
  <int64> <float64> <float64>
0       1  0.799452  0.660225
1       1  0.857488  0.660225
2       2  0.786569  0.660225
3       2  0.285523  0.660225
4       3  0.572095  0.660225

In [10]:
df >> \
  group_by(f.g) >> \
  with_groups(None, mutate, g=None)

          x
  <float64>
0  0.799452
1  0.857488
2  0.786569
3  0.285523
4  0.572095